.success-message {
    background-color: aquamarine;
    color: blue;
    padding: 10px 20px;
    margin-bottom: 60px;
}

.error-message {
    background-color: pink;
    color: red;
    padding: 10px 20px;
    margin-bottom: 60px;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.form-item {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

.input-form {
    width: 70%;
}

.input {
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

.btn {
    width: 20%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
}

table {
    border: 0;
    /* max-width :1000px; */
    width: 80%;
    text-align: left;
    margin: 30px auto;
}

th,
td {
     border-bottom: 1px solid #ccc; 
}


th {
    font-weight: bold;
    padding: 10px;
    /* width: 100%; */
}

td:first-of-type {
    width: 86%;
    padding: 10px;
}
td:last-of-type {
    width: 40%;
}
.edit-form {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

.text {
    width: 80%;
    line-height: 50%;


}

.input-text {
    width: 100%;
    /* align-items: center; */


}

.button {
    width: 50px;
}

.edit-btn {
    width: 100%;
    background-color: blue;
    color: #fff;
    padding: 5px;
    align-items: center;

}
.delete-form {
    width: 40%;
}
.delete-btn {
    width: 100%;
    background-color: red;
    color: #fff;
    padding: 5px;
    align-items: center;
}