.success-message {
    background-color: aquamarine;
    color: blue;
    padding: 10px 20px;
    margin-bottom: 60px;
}
.error-message {
    background-color: pink;
    color: red;
    padding: 10px 20px;
    margin-bottom: 60px;
}
li {
    list-style: none;
}
.wrapper {
    max-width: 1000px;
    margin: 60px auto;
}
.form-title {
    padding: 0 60px ;
}
.form-item {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}
.input-form {
    width: 50%;
}
.input {
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px 20px;
}
.select {
    border: 1px solid #ccc;
    width: 20%;
    margin-right: 20px;
    text-align: center;
}
.btn {
    width: 20%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
}
.todo-table {
    width: 80%;
    margin: 20px auto;
}
table {
    width: 100%;
    text-align: left;
}


th {
    width: 20%;
    padding: 15px;
    border-bottom: 1px solid#ccc;
    
    

}
span {
    margin-right: 40%;
}
td {width: 100%;
    padding: 15px;
    border-bottom: 1px solid#ccc;
}
td:first-of-type {
    width: 90%;
    padding: 15px;
}
p {
    margin-right:20%;
}
    
    
.edit-form {
    display: flex;
    justify-content: space-between;
    /* width: 80%; */

}
.button {
    width: 50px;
}

.edit-btn {
    width: 100%;
    background-color: blue;
    color: #fff;
    padding: 5px;
    align-items: center;

}

.delete-btn {
    width: 100%;
    background-color: red;
    color: #fff;
    padding: 5px;
    align-items: center;
}